#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#estimates {
    position: absolute;
    margin: 20px;
    width: 10%;
    height: 80px;
    padding: 20px;
    background-color: #fff;
    font-family: sans-serif;
}


.marker {
    background-image: url('boat.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.waypoint-marker {
    background-image: url('pinMarker.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#waypoint-button {
    position: absolute;
    left: 22px;
    width: 10%;
    top: 140px;
    padding: 20px;
    background-color: #fff;
    font-family: sans-serif;
}

#clear-button {
    position: absolute;
    left: 22px;
    width: 10%;
    top: 200px;
    padding: 20px;
    background-color: #fff;
    font-family: sans-serif;
}

#ferry-eta {
    position: absolute;
    left: 22px;
    width: 11%;
    top: 300px;
    padding: 20px;
    background-color: #fff;
    font-family: sans-serif;
}